{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}

    <table class ="ui celled table">
        <thead>

        <th>Descripcion</th>
        <th>Fecha</th>
        <th>Terminado</th>
        <th>Acciones</th>
        </tr>
        </thead>

    <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.description }}</td>
        <td>{{ task.createAT | date }} </td>
        <td>{{ task.done ? 'Sí' : 'No' }}</td>
        <td><a href="{{ path('task_edit', { id: task.id }) }}" class="ui button">editar</a></td>
    </tr>
    {% endfor %}
    </tbody>
        <tfood>
            <tr>
                <th>
                    <a href="{{ path('task_new') }}" class = "ui button">Crear supertareita </a>
                </th>
            </tr>
        </tfood>
    </table>

{% endblock %}
